{% extends "base.html" %}
{% block content %}
{% if not insecure_override %}
<div class="well hidden">
  <br>
  <h2> Welcome to {% block title %} Email Analytics! {% endblock %}</h2>
</div>
{% endif %}

<br>
<p>You need to connect your Nylas Google Workspace email account. Gmail accounts will not be connected.</p>
   
<p>You can always logout of the application which will <u>remove your data from our system and revoke your access token immediately.</u></p>

<p>Check our code base on <a href="https://github.com/saif2khan/email-analytics" target="_blank"><img src="{{ url_for('static', filename='github.jpeg') }}" width="100"> </a> </p>
<br>
 <a href="{{ url_for("nylas.login") }}" class="btn btn-primary">Connect your Email</a>

<script type="text/javascript">
  if (location.protocol === "http:") {
    var el = document.querySelector(".well.hidden");
    el.className = "well";
  }
</script>
{% endblock %}