{% extends "base.html" %}
{% block content %}
{% if not insecure_override %}
<div class="well hidden">
  <h2>Welcome to Email Analytics application</h2>
</div>
{% endif %}

<p>You need to click this button
   to connect your Google Workspace email account. Gmail accounts will not be connected</p>
<a href="{{ url_for("nylas.login") }}" class="btn btn-primary">Connect your Email</a>

<script type="text/javascript">
  if (location.protocol === "http:") {
    var el = document.querySelector(".well.hidden");
    el.className = "well";
  }
</script>
{% endblock %}