{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
  
<div class="row">
<div class = "col-lg-6">
<h3>{% block title %} Email Analytics (Alpha){% endblock %}</h3>
</div>
<div class = "col-lg-6">
<p align="right">Logged in as {{ name }}</p>
</div>
</div>

<div class="row">
<div class = "col-lg-12">
<form method="post" action="/">
  <input type="submit" class="btn btn-warning float-right" value="Logout" name="action1"/><br><br>
</form>
</div>
</div>

</div>

<div class="container-fluid">
    <br>
    <center>
     <div class="row">
      <div class = "col-lg-6">
      <p> 1. Email label </p>
      <canvas id="chart1" width="600" height="400"></canvas>
      </div>
      <div class = "col-lg-6">
      <p> 2. Email sender </p>
      <canvas id="chart2" width="600" height="400"></canvas>
      </div>
      </div>
    </center>
  </div>
      
  <!--  Bar chart  --> 
      
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
	],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          data : [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ]
          }
        ]
      }

     // get bar chart canvas
     var mychart = document.getElementById("chart1").getContext("2d");

       steps = 10
       max = 50

     // draw bar chart
     new Chart(mychart).Bar(barData, {
       scaleOverride: true,
       scaleSteps: steps,
       scaleStepWidth: Math.ceil(max / steps),
       scaleStartValue: 0,
       scaleShowVerticalLines: true,
       scaleShowGridLines : true,
       barShowStroke : true,
       scaleShowLabels: true
       }
     );

    </script>

  <!--  Pie chart  --> 

    <script>
      var pieData = [
        {% for item, label, colors in set %}
          {
            value: {{item}},
            label: "{{label}}",
            color : "{{colors}}"
          },
        {% endfor %}
      ];

      // get pie chart canvas
      var mychart = document.getElementById("chart2").getContext("2d");
      steps = 10
      max = 8

      // draw pie chart
      new Chart(mychart).Pie(pieData);

    </script>
  {% endblock %}